.navbar{
    background-color: #7AB730;
}

.navbar-brand{
    color: white !important;
    font-weight: bold !important;
    text-shadow: 0 0 5px  black !important;
    font-size: 35px !important;
    background-color: rgb(30, 30, 30) !important;
    border: 1.5px solid #7AB730 !important;
    border-radius: 10px !important;
}

.color-acento{
    color: #7AB730 !important;
}

.collapse{
    font-size: 25px;
}

.btn{
    background-color: #7AB730;
    color: black;
    
}

.card{
    border: 3px solid #7AB730;
}